.calc_wrap {
  background-color: var(--color--neutral-white);
  width: 100%;
  height: 640px;
  border-radius: 20px 20px 60px 20px;
  display: flex;
  padding: 40px 20px;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 1080px) {
  .calc_wrap {
    width: 780px;
    border-radius: 20px 20px 240px 20px;
    padding: 40px 60px;
  }
}
