.input_form_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.input_field_wrap {
  display: flex;
}
.input_field_item {
  text-align: left;
  flex: 1;
  width: 30%;
  padding: 10px;
}
.input_field_item label {
  letter-spacing: 0.3em;
  font-weight: var(--weight-bold);
  font-size: var(--font-micro);
  color: var(--color--neutral-smokey-grey);
}
.input_field_item input {
  min-width: 0;
  width: 99%;
  height: 50px;
  font-size: var(--font-regular);
  border-radius: 10px;
  border: 1px solid var(--color--neutral-light-grey);
  padding: 20px 10px;
  font-weight: var(--weight-bold);
  margin-top: 10px;
}

.input_submit {
  background-color: var(--color--prim-purple);
  background-image: url("/public/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: none;
}

input.invalid {
  border: 1px solid var(--color--prim-light-red);
}

.alert_msg {
  color: var(--color--prim-light-red);
  font-size: 11px;
  display: none;
}
.alert_msg.visible {
  display: block !important;
}

@media (min-width: 1080px) {
  .input_field_wrap {
    width: 70%;
  }
  .input_form {
    align-items: flex-start;
  }
  .input_submit {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    position: relative;
    right: -85%;
  }
}
