:root {
  /* primary color */
  --color--prim-purple: hsl(259, 100%, 65%);
  --color--prim-light-red: hsl(0, 100%, 67%);
  /* neutral color */
  --color--neutral-white: hsl(0, 0%, 100%);
  --color--neutral-off-white: hsl(0, 0%, 94%);
  --color--neutral-light-grey: hsl(0, 0%, 86%);
  --color--neutral-smokey-grey: hsl(0, 1%, 44%);
  --color--neutral-off-black: hsl(0, 0%, 8%);

  /* Font size */
  --font-very-large: 64px;
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --font-input: 32px;

  /* Font weight */
  --weight-extra-bold: 800;
  --weight-bold: 700;
  --weight-regular: 400;
  --weight-light: 300;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
